{% extends 'classbooking_app/base.html' %}

{% block contentbody %}
<h1>login</h1>
{% if form.errors %}
<p>Invalid Username/Password</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="username">Password:</label>
    <input type="password" id="password" name="password">
    <button id="login" type="submit">Login</button>
</form>

  
{% endblock %}


{% block contentscript %}
<script src="../../static/classbooking_app/js/login.js"></script>
{% endblock %}