{% extends "classbooking_app/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block contentbody %}
<div id="sign-up">
  

 
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-membership-tab" data-toggle="tab" href="#nav-membership" role="tab" aria-controls="nav-membership" aria-selected="true">Membership Options</a>
      <a class="nav-item nav-link" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="false">Personal Details</a>
      <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="false">Payment</a>
      <a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="false">Login Details</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-membership" role="tabpanel" aria-labelledby="nav-membership-tab">
  <div class="container" id="membership-options">
    <div class="row">
      <div class="col-3">
        <div class="form-check">
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Standard Membership</h5>
            <h6 class="card-subtitle mb-2 text-muted">£59.99 / month</h6>
            <p class="card-text">Access to all our gym, pool and spa facilities and full timetable access.</p>
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          </div>
        </div>
        </div>
      </div>
      <div class="col-3">
        <div class="form-check">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Off-Peak Membership</h5>
              <h6 class="card-subtitle mb-2 text-muted">£44.99 / month</h6>
              <p class="card-text">Access to all our gym, pool and spa facilities before 5pm. Full timetable access.</p>
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-check">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Family Membership</h5>
              <h6 class="card-subtitle mb-2 text-muted">£119.99 / month</h6>
              <p class="card-text">For 2 adults and up to 3 children. Adults have access to gym, pool and spa facilities and full timetable access. Children have pool and gym access while accompanied by an adult.</p>
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="tab-pane fade" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
      <div class="center-section">
        <div>
        </div>
        <div class="center-form">
                <div class="vertical-margin">
                    <label for="email">Email Address:</label>
                </div>
                <div class="vertical-margin">
                    <input type="email" id="email" name="email">
                </div>
                <div class="vertical-margin">
                    <label for="dob">Date of Birth:</label>
                </div>
                <div class="vertical-margin">
                    <input type="date" id="dob" name="dob">
                </div>
               <div class="vertical-margin">
                <input type="checkbox" id="declare-health" name="declare-health">
                <label for="declare-health">
                  I confirm that I am fit and healthy and have no known health conditions that prevent me from taking part in physical excercise.
                </label>
              </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
      <div class="center-section">
        <label for="payment"> Plese enter Card Details:</label>
        <input id="payment" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
      </div>
    </div>
    <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
      <div class="center-section">
        <div class="center-form">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="vertical-margin">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
              <small>{{ field.help_text }}</small>
            {% endif %}
            </div>
            <div class="vertical-margin">

            </div>
            <div class="vertical-margin">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endfor %}
        <div class="vertical-margin">
          <button class="btn btn-secondary" type="submit">Sign Up!</button>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}