
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Rural Fitness</title>
</head>
<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark justify-content-between">
        <a class="navbar-brand" href="/">
          <div id="logo">
              <h2>RURAL <i class="fa-solid fa-tree"></i> FITNESS</h2>
              <p>Health Club & Spa</p>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/timetable.html" id="timetable-link">Timetable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members_area.html">Members Area</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="/admin.html">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                Logout
              </a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">
                  Login/Register
                </a>
                {% endif %}
              
            </li>
          </ul>
        </div>
      </nav>
    </header>
{% block contentbody %}
{% endblock %}
<!--Font Awesome Link-->
<script src="https://kit.fontawesome.com/19e39a1d6d.js" crossorigin="anonymous"></script>
<!--Link to Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Link to script.js-->

{% block contentscript %}  

{% endblock %}
<footer class="dark-background">
  <div class="footer-btn-section">
    {% if user.is_authenticated %}
        <a href="/members_area.html">
          <button type="button" class="btn btn-secondary link-btn footer-btn">
            Members Area
            </button>
        </a>

      {% else %}
        <a href="/signup_details.html">
          <button type="button" class="btn btn-secondary link-btn footer-btn">
            Membership Options
          </button>
        </a>
    {%endif %}
    </div>
  <div class="container">
    <div class="row footer-contact-links">
      <div class="col-12 col-sm-6 col-md-4 order-md-first"><i class="fa-solid fa-envelope"></i> ruralfitness@gmail.com</div>
      <div class="col-12 col-sm-6 col-md-4 order-md-last"><i class="fa-solid fa-phone"></i> 0131 123 4567</div>
      <div class="col-4 col-sm-3 col-md-1"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
      <div class="col-2 col-sm-3 col-md-1"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
      <div class="col-2 col-sm-3 col-md-1"><a href="https://www.linkedin.com/in/alex-small-a8977116b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
      <div class="col-4 col-sm-3 col-md-1"><a href="https://github.com/AlexSmall96/Rural-Fitness" target="_blank"><i class="fa-brands fa-github"></i></a></div>
    </div>
  </div>
</footer>
</body>
</html>
