<!-- Create template from scratch as multiple footers are required is different to base -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbooking_app/css/style.css' %}">
    <title>Rural Fitness</title>
</head>
<body>
  <header>
    <!-- Nav Bar -->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark justify-content-between">
        <a class="navbar-brand" href="/">
          <!-- Logo -->
          <div id="logo">
              <h2>RURAL <i class="fa-solid fa-tree"></i> FITNESS</h2>
              <p>Health Club & Spa</p>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/timetable.html" id="timetable-link">Timetable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members_area.html">Members Area</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="/admin.html">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                Logout
              </a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">
                  Login/Register
                </a>
                {% endif %}
              
            </li>
          </ul>
        </div>
      </nav>
    </header>
<!-- Sign up Section-->
<div id="sign-up" class="light-background">
  <nav>
    <div class="nav nav-tabs" id="nav-tab-signup" role="tablist">
      <a class="nav-item nav-link active" id="nav-membership-tab" data-toggle="tab" href="#nav-membership" role="tab" aria-controls="nav-membership" aria-selected="true">Membership Options</a>
      <a class="nav-item nav-link disabled" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="false">Personal Details</a>
      <a class="nav-item nav-link disabled" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="false">Payment</a>
      <a class="nav-item nav-link disabled" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="false">Login Details</a>
    </div>
  </nav>
    <!--All Tab Contet-->
    <div class="tab-content" id="nav-tabContent">
      <!--Memerhip Options Tab Content-->
      <div class="tab-pane fade show active" id="nav-membership" role="tabpanel" aria-labelledby="nav-membership-tab">
        <div id="signup-btn-div" class="container">
          <div class="row align-items-center">
              <div id="already-member" class="col-6">
                {% if not user.is_authenticaed %}
                Already a member?<br> <a href="/register.html"><button type="button" class="btn btn-light">Sign In</button></a>
                {% endif %}
              </div>
              <div class="col-6" id="membership-btn-div">
                <button id="membership-btn" class="btn btn-secondary">Next</button>
              </div>
          </div>  
        </div>
    <div class="container height-class" id="membership-options">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Standard Membership</h5>
              <h6 class="card-subtitle mb-2 text-muted">£59.99 / month</h6>
              <p class="card-text">Access to all our gym, pool and spa facilities and full timetable access.</p>
              <label for="gridRadios1">Select:</label>
              <input type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            </div>
          </div>
        </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Off-Peak Membership</h5>
            <h6 class="card-subtitle mb-2 text-muted">£44.99 / month</h6>
            <p class="card-text">Access to all our gym, pool and spa facilities before 5pm. Full timetable access.</p>
            <label for="gridRadios2">Select:</label>
            <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Family Membership</h5>
            <h6 class="card-subtitle mb-2 text-muted">£119.99 / month</h6>
            <p class="card-text">For 2 adults and up to 3 children. Adults have access to gym, pool and spa facilities and full timetable access. Children have pool and gym access while accompanied by an adult.</p>
            <label for="gridRadios3">Select:</label>
            <input type="radio" name="gridRadios" id="gridRadios3" value="option3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Font Awesome Link-->
  <script src="https://kit.fontawesome.com/19e39a1d6d.js" crossorigin="anonymous"></script>
  <!--Link to Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--Link to script.js-->
  {% load static %}
  <script src="{% static 'classbooking_app/js/signup_details.js' %}"></script>
  <footer class="dark-background">
    <div class="footer-btn-section">
      {% if user.is_authenticated %}
         {% if request.path == '/members_area.html' %}
         <a href="{% url 'logout' %}">
          <button type="button" class="btn btn-secondary link-btn footer-btn">
            Logout
            </button>
          </a>
         {% else %}
         <a href="/members_area.html">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Members Area
              </button>
          </a>
          {% endif %}
      {% else %}
          <a href="/">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Home
            </button>
          </a>
      {%endif %}
      </div>
    <div class="container">
      <div class="row footer-contact-links">
        <div class="col-12 col-sm-6 col-md-4 order-md-first"><i class="fa-solid fa-envelope"></i> ruralfitness@gmail.com</div>
        <div class="col-12 col-sm-6 col-md-4 order-md-last"><i class="fa-solid fa-phone"></i> 0131 123 4567</div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.linkedin.com/in/alex-small-a8977116b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://github.com/AlexSmall96/Rural-Fitness" target="_blank"><i class="fa-brands fa-github"></i></a></div>
      </div>
    </div>
  </footer>
</div>

<!-- Personal Details -->
<div class="tab-pane fade" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
  <form id="personal-form">
    <div id="pers-cont" class="container height-class">
      <div class="row align-items-center">
        <div class="col-12">
          <button type="submit" id="pers-btn" class="btn btn-secondary">Next</button>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 vertical-margin">
          <label for="fname">First Name:</label>
        </div>
        <div class="col-12 vertical-margin">
          <input required type="fname" id="fname" name="fname" >
        </div>
        <div class="col-12 vertical-margin">
          <label for="lname">Last Name:</label>
        </div>
        <div class="col-12 vertical-margin">
          <input required type="lname" id="lname" name="fname" >
        </div>
        <div class="col-12 vertical-margin">
          <label for="email">Email Address:</label>
        </div>
        <div class="col-12 vertical-margin">
          <input required type="email" id="email" name="email" >
        </div>
        <div class="col-12 vertical-margin">
          <label for="dob">Date of Birth:</label>
        </div>
        <div class="col-12 vertical-margin">
          <input required  type="date" id="dob" name="dob">
        </div>
        <div class="col-2 vertical-margin">
          <input required  type="checkbox" id="declare-health" name="declare-health">
        </div>
        <div class="col-8 vertical-margin">
          <label for="declare-health">
            I confirm that I am fit and healthy and have no known health conditions that prevent me from taking part in physical excercise.
          </label>
        </div>
      </div>
    </div>
  </form>
  <footer class="dark-background">
    <div class="footer-btn-section">
      {% if user.is_authenticated %}
         {% if request.path == '/members_area.html' %}
         <a href="{% url 'logout' %}">
          <button type="button" class="btn btn-secondary link-btn footer-btn">
            Logout
            </button>
          </a>
         {% else %}
         <a href="/members_area.html">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Members Area
              </button>
          </a>
          {% endif %}
      {% else %}
          <a href="/">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Home
            </button>
          </a>
      {%endif %}
      </div>
    <div class="container">
      <div class="row footer-contact-links">
        <div class="col-12 col-sm-6 col-md-4 order-md-first"><i class="fa-solid fa-envelope"></i> ruralfitness@gmail.com</div>
        <div class="col-12 col-sm-6 col-md-4 order-md-last"><i class="fa-solid fa-phone"></i> 0131 123 4567</div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.linkedin.com/in/alex-small-a8977116b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://github.com/AlexSmall96/Rural-Fitness" target="_blank"><i class="fa-brands fa-github"></i></a></div>
      </div>
    </div>
  </footer>
</div>

<!-- Payment Details -->
<div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
  <form id="pay-form">
    <div class="container height-class" id="pay-cont">
      <div class="row align-items-center">
        <div class="col-12">
          <button type="submit" id="pay-btn" class="btn btn-secondary">Next</button>
          <a class="invisible" id="sign-up-link" href="register.html"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-3">
          <label for="payment"> Card Number:</label>
        </div>
        <div class="col-8 col-sm-9">
          <input required  id="payment" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
        </div>
        <div class="col-4 col-sm-3"><label for="payment-name">Name:</label></div>
        <div class="col-8 col-sm-9"><input required  type="text" id="payment-name"></div>
        <div class="col-4 col-sm-3" ><label for="payment-date">Expiry Date:</label></div>
        <div class="col-8 col-sm-9"><input required  type="text" id="payment-date"></div>
        <div class="col-4 col-sm-3"><label for="payment-security">Security Code:</label></div>
        <div class="col-8 col-sm-9"><input required  type="text" id="payment-security"></div>
      </div>
      <p>Note: Payment details are for visual purposes only, no card details will be saved.</p>
    </div>
  </form>


  <footer class="dark-background">
    <div class="footer-btn-section">
      {% if user.is_authenticated %}
         {% if request.path == '/members_area.html' %}
         <a href="{% url 'logout' %}">
          <button type="button" class="btn btn-secondary link-btn footer-btn">
            Logout
            </button>
          </a>
         {% else %}
         <a href="/members_area.html">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Members Area
              </button>
          </a>
          {% endif %}
      {% else %}
          <a href="/">
            <button type="button" class="btn btn-secondary link-btn footer-btn">
              Home
            </button>
          </a>
      {%endif %}
      </div>
    <div class="container">
      <div class="row footer-contact-links">
        <div class="col-12 col-sm-6 col-md-4 order-md-first"><i class="fa-solid fa-envelope"></i> ruralfitness@gmail.com</div>
        <div class="col-12 col-sm-6 col-md-4 order-md-last"><i class="fa-solid fa-phone"></i> 0131 123 4567</div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="col-2 col-sm-3 col-md-1"><a href="https://www.linkedin.com/in/alex-small-a8977116b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <div class="col-4 col-sm-3 col-md-1"><a href="https://github.com/AlexSmall96/Rural-Fitness" target="_blank"><i class="fa-brands fa-github"></i></a></div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
