header nav, footer{
    height:100px;
}

.beneath-header{
    margin-top:100px;
}
.my-image{
    width:100%;
    height:150px;
}

#about{
    width:100%;
    margin:0;
}



.container{
    --bs-gutter-x: 0;
}

#timetable-tabContent{
    margin-top: 10px;
    height:700px;
    overflow: scroll;
}

#about-pool-img{
    width:100%;
    float:right;
}

#about-class-img{
    width:100%;
    float:left;
}

.carousel-item{
    height: 600px;
}

#sign-up{
    height:500px;
    margin-top:50px ;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    bottom: -150px;
    left: 0;
    min-height: 500px;
}

.session{
    border-style: solid;
    border-width: 2px;
    border-color:grey;
    border-radius: 2%;
    padding-bottom: 5px;
}

.invisible{
    display:none
}

.visible{
    display:block
}

.run-False, .run-False-btn{
    background-color: darkgrey;
}

#nav-buttons{
    float:right;
}

#session-cont{
    margin-top: 20px;
}

#members-area{
margin-top: 100px;
}

/* Login Page */
.center-section{
    width:50%;
    margin:auto;
    margin-top: 150px;
    text-align: center;
}

.center-form{
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

.vertical-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-margin-top{
    margin-top: 10px;
}

.vertical-margin-bottom{
    margin-bottom: 10px;
}

/*Sign up Page */
#membership-options{
    margin-top: 200px;
}

.card{
    height:200px;
}

footer{
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#membership-footer{
    width:25%;
    margin:auto;
    padding-top:10px;
}

#footer-btn{
    color:black;
    background-color:lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: goldenrod
}

#contact{
    width:25%;
    margin:auto;
    padding-top:10px;

}

#cards .card{
    display:inline;
}

/* Admin Page */

#admin-instructions{
padding:20px;
border-style: groove;
border-width: 2px;
}

#admin-instructions input, #admin-instructions select{
    margin-right:10px;
}

.admin-btn{
    font-size: small;
    height:25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.admin-btn:hover{
 background-color: white;
}

#admin-headers{
    margin-top:10px;
    font-weight: bold;
    text-align: center;
}

.session-box{
    border-style: solid;
    border-color: grey;
    border-width:1px;
    margin:auto;
    width:95%;
    text-align: center;
    padding:15px;
}

#session-cont{
    height:400px;
    overflow:scroll;
    margin-top:0px;
}

#session-cont input, #session-cont select{
    font-size: 12px;
    border-radius: 0;
    border: 1px solid
}

#session-box .row{
    border-style: solid;
    border-color: grey;
    border-width:0.5px;
}

.date-edit{
    width:100%;
    font-size: x-small;
}

#add-btn-section{
    margin-top: 10px;
    width:30%;
}

.action-icon, .header-icon{
    display:none;
}

@media (max-width:576px){
    #session-cont .row{
        padding-top: 5px;
        padding-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
    }
    .sm-width{
        width:100%;
        margin:2px;
    }

    .sm-font{
        font-size: small;
    }
}

@media (max-width:430px){
    .sm-font, .sm-btn{
        font-size: x-small;
        font-weight: 500;
    }
}