{% extends 'classbooking_app/base.html' %}

{% block contentbody %}
<h1>Admin page</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Activties</a>
    </li>
  </ul>
Use fields to view or edit a session:
<form method="POST" id="session-form">
    {% csrf_token %}
    <label for="date-filter">Date:</label>
    <input class="filter" type="date" id="date-filter" name="date-filter" value="{{ date_filter }}">
    <label for="activity-filter">Activity: </label>
    <select class="filter" id="activity-filter" name="activity-filter" value="{{ activity_filter }}">
        <option class="activity-option" value="All">All</option>
        {% for activity in activities %}
        {% if activity.name == activity_filter %}
            <option value = "{{ activity.name }}" selected>{{ activity.name }}</option>
        {% else %}
        <option value="{{ activity.name }}">{{ activity.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label for="location-filter">Location:</label>
    <select class="filter" id="location-filter" name="location-filter" value="{{ location_filter }}">
        <option value="All">All</option>
        {% for location in locations %}
        {% if location == location_filter %}
            <option value = "{{ location }}" selected>{{ location }}</option>
        {% else %}
        <option value="{{ location }}">{{ location }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <div id="session-cont" class="container">
        <div class="row">
            <div class="col">Activity 
                {%if activity_filter != "All" %}
                <i class="fa-solid fa-filter-circle-xmark"></i>
                {% endif %}
            </div>
            <div class="col">Date
                {%if date_filter != "" %}
                <i class="fa-solid fa-filter-circle-xmark"></i>
                {% endif %}
            </div>
            <div class="col">Time</div>
            <div class="col">Location:
                {%if location_filter != "All" %}
                <i class="fa-solid fa-filter-circle-xmark"></i>
                {% endif %}               
            </div>
            <div class="col">Spaces</div>
            <div class="col">Running</div>
            <div class="col"></div>
        </div>
        {% for session in sessions %}
        <div class="row">
            <div class="col">
                <input type="text" id="{{ session.id }}-activity" name="{{ session.id }}-activity" value="{{ session.activity.name }}">
                <input type="date" id="{{ session.id }}-date" name="{{ session.id }}-date" value="{{ session.date|date:'Y-m-d' }}">
                <input type="time" id="{{ session.id }}-time" name="{{ session.id }}-time" value="{{ session.time|time:'H:i' }}">
                <input type="text" id="{{ session.id }}-location" name="{{ session.id }}-location" value="{{ session.location }}">
                <input type="number" id="{{ session.id }}-spaces" name="{{ session.id }}-spaces" value="{{ session.spaces }}">
                {% if session.running %}
                <input type="checkbox" id="{{ session.id }}-running" name="{{ session.id }}-running" checked>
                {% else %}
                <input type="checkbox" id="{{ session.id }}-running" name="{{ session.id }}-running">
                {% endif %}
                <button type="button" id="{{ session.id }}-remove" name="{{ session.id }}-remove">Remove</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="add-session"><i class="fa-solid fa-square-plus"></i>Add Session</button>
    <button type="submit">Make Changes</button>
</form>

<div id="activity-list" class="invisible">
    {% for activity in activities %}
    <p>{{ activity }}</p>
    {% endfor %}
</div>

<div id="location-list" class="invisible">
    {% for location in locations %}
    <p>{{ location }}</p>
    {% endfor %}
</div>
{% endblock %}


{% block contentscript %}

<script src="../../static/classbooking_app/js/admin.js?2"></script>

{% endblock %}