{% extends 'classbooking_app/base.html' %}

{% block contentbody %}
<h1 class="beneath-header">Admin page</h1>
Use filters to load sessions:
<form method="POST" id="session-form">
    {% csrf_token %}
    <input class="invisible" type="text" id="update-field" name="update-field">
    <input class="invisible" type="text" id="delete-field" name="delete-field">
    <input class="invisible" type="text" id="create-field" name="create-field">
    <input class="invisible" type="text" id="feedback-field" name="feedback-field" value="{{ feedback_field }}">
    <label for="date-filter">Date:</label>
    <input class="filter" type="date" id="dat-filter" name="date-filter" value="{{ date_filter }}">
    <label for="activity-filter">Activity: </label>
    <select class="filter" id="act-filter" name="activity-filter" value="{{ activity_filter }}">
        <option class="activity-option" value="All">All</option>
        {% for activity in activities %}
        {% if activity.name == activity_filter %}
            <option value = "{{ activity.name }}" selected>{{ activity.name }}</option>
        {% else %}
        <option value="{{ activity.name }}">{{ activity.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label for="location-filter">Location:</label>
    <select class="filter" id="loc-filter" name="location-filter" value="{{ location_filter }}">
        <option value="All">All</option>
        {% for location in locations %}
        {% if location == location_filter %}
            <option value = "{{ location }}" selected>{{ location }}</option>
        {% else %}
        <option value="{{ location }}">{{ location }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <div id="session-cont" class="container">
        <div class="row">
            <div class="col-lg-2">Activity 
                {%if activity_filter != "All" %}
                <button type="button" id="act-filter-icon" class="filter-icon"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% else %}
                <button type="button" id="act-filter-icon" class="filter-icon invisible"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% endif %}
            </div>
            <div class="col-lg-1">Date
                {%if date_filter != "" %}
                <button type="button" id="dat-filter-icon" class="filter-icon"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% else %}
                <button type="button" id="dat-filter-icon" class="filter-icon invisible"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% endif %}
            </div>
            <div class="col-lg-1">Time</div>
            <div class="col-lg-2">Location:
                {%if location_filter != "All" %}
                <button type="button" id="loc-filter-icon" class="filter-icon"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% else %}
                <button type="button" id="loc-filter-icon" class="filter-icon invisible"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                {% endif %}               
            </div>
            <div class="col-lg-1">Spaces</div>
            <div class="col-lg-1">Running</div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
        </div>
        {% for session in sessions %}
        <div class="row">
            <div class="col-lg-2">
                <select id="{{ session.id }}-activity" name="{{ session.id }}-activity">
                    {% for activity in activities %}
                    {% if activity == session.activity %}
                    <option value="{{ activity.name }}" selected>{{ activity.name }}</option>
                    {% else %}
                    <option value="{{ activity.name }}">{{ activity.name }}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
            </div>
            <div class="col-lg-1">
                <input type="date" id="{{ session.id }}-date" name="{{ session.id }}-date" value="{{ session.date|date:'Y-m-d' }}">
            </div>
            <div class="col-lg-1">
                <input type="time" id="{{ session.id }}-time" name="{{ session.id }}-time" value="{{ session.time|time:'H:i' }}" step="3660">
            </div>
            <div class="col-lg-2">
                <select id="{{ session.id }}-location" name="{{ session.id }}-location">
                    {% for location in locations %}
                    {% if location == session.location %}
                    <option value="{{ location }}" selected>{{ location }}</option>
                    {% else %}
                    <option value="{{ location }}">{{ location }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-1">
                <input type="number" id="{{ session.id }}-spaces" name="{{ session.id }}-spaces" value="{{ session.spaces }}" min="0" max="25" step="1">
            </div>
            <div class="col-lg-1">
                {% if session.running %}
                <input type="checkbox" id="{{ session.id }}-running" name="{{ session.id }}-running" checked>
                {% else %}
                <input type="checkbox" id="{{ session.id }}-running" name="{{ session.id }}-running">
                {% endif %}                
            </div>
            <div class="col-lg-2">
                <button type="button"  name="{{ session.id }}-update" data-toggle="modal" data-target="#confirm-update-modal-{{ session.id }}">
                    Save Session Changes
                </button>
            </div>
            
            <div class="col-lg-2">
                <button type="button"  name="{{ session.id }}-delete" data-toggle="modal" data-target="#confirm-delete-modal-{{ session.id }}">Delete Session</button>
            </div>
        </div>
        <!-- Confirm Update Modal -->
<div class="modal fade" id="confirm-update-modal-{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to make changes to this session?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, discard changes.</button>
          <button type="button" class="btn btn-primary update-btn" id="{{ session.id }}-update">Yes, save changes.</button>
        </div>
      </div>
    </div>
  </div>
          <!-- Confirm Delete Modal -->
<div class="modal fade" id="confirm-delete-modal-{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this session from the timetable?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, keep the session.</button>
          <button type="button" class="btn btn-primary delete-btn" id="{{ session.id }}-delete">Yes, delete.</button>
        </div>
      </div>
    </div>
  </div>
        {% endfor %}
    </div>
    <button type="button" id="add-session"><i class="fa-solid fa-square-plus"></i>Add Session</button>
</form>
          <!-- Confirm Create Modal -->
          <div class="modal fade" id="confirm-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to create this session?</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" id="create-btn-modal">Yes</button>
                </div>
              </div>
            </div>
          </div>

<!-- Feedback modal -->
<button type="button" data-toggle="modal" data-target="#feedback-modal" id="feedback-modal-btn" class="invisible"></button>
<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="feedback-modal-title">
            {{ feedback }}
          </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">View Sessions</button>
        </div>
      </div>
    </div>
  </div>

<div id="activity-list" class="invisible">
    {% for activity in activities %}
    <p>{{ activity }}</p>
    {% endfor %}
</div>

<div id="location-list" class="invisible">
    {% for location in locations %}
    <p>{{ location }}</p>
    {% endfor %}
</div>

<p class="invisible" id="max-id">{{ max_id }}</p>
<p class="invisible" id="default-date">{{ date_filter }}</p>
{% endblock %}


{% block contentscript %}

<script src="../../static/classbooking_app/js/admin.js"></script>

{% endblock %}