{% extends 'classbooking_app/base.html' %}

{% block content %}
</body>

    {{ attendees }}

    
    <table>
        <th>Name</th>
        <th>Date</th>
        <th>User</th>
        <th>Edit</th>
        <th>Toggle</th>
        <th>Delete</th>
        {% for booking in bookings %}
        <tr>
        <td>{{ booking.name }}</td>
        <td>{{ booking.date }}</td>
        <td>{{ booking.user }}</td>
        <td><a href="/edit/{{ booking.id}}"><button>Edit</button></a></td>
        <td><a href="/toggle/{{ booking.id}}"><button>Toggle</button></a></td>
        <td><a href="/delete/{{ booking.id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>



  
{% endblock %}