{% extends 'classbooking_app/base.html' %}

{% block content %}
<h1>This is the bookings page</h1>
</body>
<h1>List of bookings:</h1>
<table>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.name }}</td>
        <td>{{ booking.date }}</td>
        <td>{{ booking.time }}</td>
        <td>{{ booking.spaces }}</td>
        <td>{{ booking.location }}</td>
        <td>{{ booking.user }}</td>
        <td>{{ booking.running }}</td>
        <td>
            <a href="/edit/{{ booking.id}}">
                <button>Edit</button>
            </a>
            <a href="/toggle/{{ booking.id}}">
                <button>Toggle</button>
            </a>
            <a href="/delete/{{ booking.id}}">
                <button>Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}