{% extends 'classbooking_app/base.html' %}

{% block contentbody %}
<form method="POST" id="checkout-form">
{% csrf_token %}
<div id="confirm-bookings" class="{{ confirm_btn_class}}">
    <label class="invisible"  for="form-ready"><h1>Bookings Finalised:</h1></label>
    <input class="invisible"  type="text" id="form-ready" name="form-ready" value="{{ form_value }}">
    <label class="invisible"  for="remove"><h1>Remove:</h1></label>
    <input class="invisible"  type="text" id="remove" name="remove" value="{{ remove }}">
 <h1>Your Chosen Classes</h1>
 <div id="checkout-list" class="container">
  <div class="row">
    <div class="col">Activity</div>
    <div class="col">Date</div>
    <div class="col">Time</div>
    <div class="col">Location</div>
    <div class="col"></div>
  </div>
  {% for booking in existing_bookings %}
  {% if booking.confirmed == False %}
  <div id="{{ booking.session.id}}_selected" class="row">
    <div  class="col">{{ booking.session.activity.name }}</div>
    <div class="col">{{ booking.session.date }}</div>
    <div class="col">{{ booking.session.time | time:"G:i"}}</div>
    <div class="col">{{ booking.session.location }}</div>
    <div class="col">
      <input class="remove-from-cart" type="button" id="{{ booking.session.id }}_remove" name="{{ booking.session.id }}_remove" value="Remove from Cart">
    </div>
  </div>
  {% endif %}
  {% endfor %}
 </div>
</div>

<input class="{{ confirm_btn_class }}" id="confirm" type="submit" value="Confirm Bookings">

<div class="{{ confirm_msg_class }}" id="confirm-message">
  <p>
    Your classes have been booked. Go to <a href="/view_bookings.html">My Bookings</a> or visit the <a href="/make_booking.html" id="timetable-link">Timetable</a> to book more.
  </p>
</div>

<div class="invisible" id="users-bookings">
  {% for booking in existing_bookings %}
    {% if booking.confirmed == True %}
      <p>{{ booking.session.id }}</p>
    {% endif %}
  {% endfor %}
</div>

</form>
{% endblock %}

{% block contentscript %}  
<script src="../../static/classbooking_app/js/checkout.js"></script>
{% endblock %}
