{% extends 'classbooking_app/base.html' %}

{% block contentbody %}
<div class="light-grey-background">
<div id="hero-image">
  
</div>
<div id="home-links" class="container">
{% if user.is_authenticated %}
<div class="row">
  <div class="col-6">
    <a class="nav-link" href="/view_bookings.html">
      <button type="button" class="btn btn-secondary">
        <h4>Members Area</h4>
        </button>
    </a>
  </div>
  <div class="col-6">
    <a class="nav-link" href="/timetable.html" id="timetable-link">
      <button type="button" class="btn btn-secondary">
        <h4>View Timetable</h4>
      </button>
    </a>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-6">
    <a class="nav-link" href="{% url 'login' %}">
      <button type="button" class="btn btn-secondary">
        <h4>Login</h4>
        </button>
    </a>
  </div>
  <div class="col-6">
    <a class="nav-link" href="{% url 'signup' %}" id="timetable-link">
      <button type="button" class="btn btn-secondary">
        <h4>Membership Options</h4>
      </button>
    </a>
  </div>
</div>
{%endif %}
</div>
<div id="about" class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-6 order-last order-sm-first has-bg-img img-margin">
      <img class="bg-img" src="../../static/classbooking_app/images/pool.jpg">
    </div>
    <div id="facilities-div" class="col-12 col-sm-6 order-first order-sm-last">
        <h2>Facilities</h2>
        <p>A state of the art gym and pool, class studios and a spin room. We've got your fitness needs covered.
           <a class="read-more" data-toggle="collapse" href="#facilities-text" role="button" aria-expanded="false" aria-controls="facilitiesText">
          Read More
        </a></p>
          <div class="collapse" id="facilities-text">
            <div class="">
              4 power/squat racks an extensive dumbell collection. Along with weight and cardio machines, and a cool off/stretch area. 25m long pool with 6 lanes plus an open swimming area, perfect for those wanting a serious workout or just a quick dip.            
            </div>
          </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div id="classes-div" class="col-12 col-sm-6">
      <h2>Classes</h2>
      <p>Boxfit? No problem. Yoga or Mindfullness ? Come unwind with us. HIIT ? Book now and test your limits!
      </p>
      {% if user.is_authenticated %}
      View the <a class="" href="/timetable.html" id="timetable-link"><button class="btn btn-secondary">Timetable</button></a> to book classes, 
      or head to the <a class="" href="/view_bookings.html"><button class="btn btn-secondary">Members Area</button></a> to review your bookings.
    {% else %}
      <p>Please <a href="{% url 'login' %}"><button class="btn btn-secondary">Login in</button></a> to view timetable and book classes.</p>
    {% endif %}
    </div>
    <div class="col-12 col-sm-6 has-bg-img img-margin">
      <img class="bg-img" src="../../static/classbooking_app/images/about-class-4.jpg">
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-sm-6 order-last order-sm-first has-bg-img" id="jacuzzi-div">
      <img class="bg-img" src="../../static/classbooking_app/images/hero-jacuzzi.jpg">
    </div>
    <div id="spa-div" class="col-12 col-sm-6 order-first order-sm-last">
      <h2>Spa</h2>
      <p>Relax and unwind after your workout in our luxurious sauna, jacuzzi and spa.
        <a class="read-more" data-toggle="collapse" href="#spa-text" role="button" aria-expanded="false" aria-controls="spaText">
          Read More
        </a><p>

        </p>
        <div class="collapse" id="spa-text">
          <div class="">
            Begin your post-workout recovery with us in our premium oak sauna, or if you're looking for total relaxation, book yourself in for a massage or facial with our expert spa team.
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block contentscript %}  
<script src="../../static/classbooking_app/js/home.js"></script>
{% endblock %}

