{% extends 'classbooking_app/base.html' %}

{% block content %}
    <h1>Showing Classes on day selected</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="select-date">Select Date:</label>
        <input type="date" id="select-date" name="date_name">
      <label for="username">Enter Username:</label>
      <input type="text" id="username" name="user_name">
      <button type="submit">Complete</button>
    </form>
    {% for session in todays_sessions %}
    <p>{{ session.name }}, {{ session.date }}, {{ session.time }}, {{ session.id }}</p>

    {% endfor %}

    <div class="container">
        <div class="excercise row vertical-margin">
          <div class="col-1 col-sm-1 col-lg-1 align-self-center">09:00 - 09:30</div>
          <div class="col-5 col-sm-5 col-lg-3 has-bg-img">
            <img class="bg-img my-image" src="../../static/classbooking_app/images/box.jpeg">
          </div>
          <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>Boxfit</strong>
            <p>High intensity combat fitness inspired exercises.</p>
          </div>
          <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i> Studio A</div>
          <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i> 20 spaces</div>
          <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
            <label for="boxfit_id">Add to Bookings</label>
            <input type="checkbox" id="boxfit_id" name="boxfit">
          </div>
        </div>
        <div class="excercise row vertical-margin">
          <div class="col-1 col-sm-1 col-lg-1 align-self-center">10:00 - 10:30</div>
          <div class="col-5 col-sm-5 col-lg-3 has-bg-img">
            <img class="bg-img my-image" src="../../static/classbooking_app/images/kettle.webp">
          </div>
          <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>Kettlebells</strong>
            <p>Various kettlebell excercises.</p>
          </div>
          <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i> Studio A</div>
          <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i> 25 spaces</div>
          <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
            <label for="kettle_id">Add to Bookings</label>
            <input type="checkbox" id="kettle_id" name="kettlebells">
          </div>
        </div>
        <div class="excercise row vertical-margin">
          <div class="col-1 col-sm-1 col-lg-1 align-self-center">12:00 - 13:00</div>
          <div class="col-5 col-sm-5 col-lg-3 has-bg-img">
            <img class="bg-img my-image" src="../../static/classbooking_app/images/yoga.jpeg">
          </div>
          <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>Yoga</strong>
            <p>Unwind and reconnect with your body</p>
          </div>
          <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i> Studio B</div>
          <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i> 25 spaces</div>
          <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
              <label for="yoga_id">Add to Bookings</label>
              <input type="checkbox" id="yoga_id" name="yoga">
          </div>
        </div>
      </div>
{% endblock %}
