{% extends 'classbooking_app/base.html' %}

{% block content %}

{{ booking.session.id }}
<div id="timetable">
<h1>Showing Classes on {{ date }}</h1>
    <form method="POST" id="date-form">
        {% csrf_token %}
        <label for="select-date">Select Date:</label>
        <input type="date" id="select-date" name="date_name" value="{{ date }}">
      <label for="username">Enter Username:</label>
      <input type="text" id="username" name="user_name" value="{{ user }}">

    <h1>{{ completed }}</h1>


    <div class="container">
      {% for session in todays_sessions %}
        <div class="excercise row vertical-margin">
          <div class="col-1 col-sm-1 col-lg-1 align-self-center">{{ session.time }}</div>
          <div class="col-5 col-sm-5 col-lg-3 has-bg-img">
            <img class="bg-img my-image" src="../../static/classbooking_app/images/{{ session.activity.image }}">
          </div>
          <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>{{ session.activity.name }}</strong>
            <p>{{ session.activity.description }}</p>
          </div>
          <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i>{{ session.spaces }} spaces</div>
          <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i>{{ session.location }}</div>
          <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
            <label for="{{ session.id }}">Add to Cart</label>
            <input class="add-to-cart" type="checkbox" id="{{ session.id }}" name="{{ session.id }}">
          </div>
        </div>
        {% endfor %}
      </div>

      
    <!--<a href="/checkout.html"></a>-->

  <button type="button" id="checkout-button">Checkout</button>
</div>
  <div id="confirm-bookings">
    <label for="cart"><h1>Cart:</h1></label>
    <input type="text" id="cart" name="cart" value="{{ cart }}">
    <label for="finalised"><h1>Bookings Finalised:</h1></label>
    <input type="text" id="finalised" name="finalised">
 <input id="confirm" type="submit" value="Confirm Bookings">
 <h1>Your Chosen Classes</h1>
 <div class="container">
  <div class="row">
    <div class="col">Activity</div>
    <div class="col">Date</div>
    <div class="col">Time</div>
    <div class="col">Location</div>
  </div>
  <div class="row">

  </div>
 </div>
</div>
</form>

{% endblock %}
