{% extends 'classbooking_app/base.html' %}

{% block contentbody %}

<h1>Showing Classes on {{ date }}</h1>
  <form method="POST" id="timetable-form">
    {% csrf_token %}
    <label for="select-date">Select Date:</label>
    <input type="date" id="select-date" name="date-name" value="{{ date }}">
    <input class="invisible" type="text" id="date-change" name="date-change">
    <input class="invisible" type="text" id="cart" name="cart" value="{{ cart }}">
    <input class="invisible" type="text" id="confirmed" name="confirmed" value="{{ confirmed }}">
    <div class="container">
      {% for session in todays_sessions %}
      <h2 id="{{ session.id }}-date-header" class="date-header invisible">{{ session.date }}</h2>
      <div class="session row vertical-margin run-{{ session.running }}">
        <div class="col-1 col-sm-1 col-lg-1 align-self-center">{{ session.time | time:"G:i" }}<br>{{ session.activity.duration }}</div>
        <div class="col-5 col-sm-5 col-lg-3 has-bg-img vertical-margin">
          <img class="bg-img my-image" src="../../static/classbooking_app/images/{{ session.activity.image }}">
        </div>
        <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>{{ session.activity.name }}</strong>
          <p>{{ session.activity.description }}</p>
        </div>
        <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i> {{ session.spaces }} spaces</div>
        <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i><span> {{ session.location }}</span></div>
        <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
          {% if session.spaces > 0 %}
          <input class="add-to-cart run-{{ session.running }}-btn" type="button" id="{{ session.id }}" name="{{ session.id }}" value="Add to Cart">
          {% else %}
          <div> Class Currently Full </div>
          {% endif %}
        </div>
      </div>
        {% endfor %}
    </div>
    <input class="invisible" type="text" id="form-ready" name="form-ready">
<button type="button" id="checkout-btn" data-toggle="modal" data-target="#timetable-modal">Checkout</button>

<!-- Modal -->
<div class="modal fade" id="timetable-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="timetable-modal-title" class="modal-title" id="exampleModalLabel">Your Selected Classes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="checkout-list" class="container">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Book more Classes</button>
        {% if confirmed != "y" %}
        <button id="confirm-btn" type="button" class="btn btn-primary">Confirm Bookings</button>
        {% else %}
        <a href="/view_bookings.html"><button id="confirm-btn" type="button" class="btn btn-primary">Confirm Bookings</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</form>

<div class="invisible" id="existing-bookings">
  {% for booking in existing_bookings %}
      <p>{{ booking.session.id }}</p>
  {% endfor %}
</div>

<div class="invisible" id="unconfirmed-bookings">
  {% for booking in existing_bookings %}
    {% if booking.confirmed == False %}
      <p>{{ booking.session.id }}</p>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block contentscript %}

<script src="../../static/classbooking_app/js/timetable.js"></script>

{% endblock %}
