{% extends 'classbooking_app/base.html' %}

{% block contentbody %}

<h1>Showing Classes on {{ date }}</h1>
  <form method="POST" id="date-form">
    {% csrf_token %}
    <label for="select-date">Select Date:</label>
    <input type="date" id="select-date" name="date-name" value="{{ date }}">
    <input class="invisible" type="text" id="date-change" name="date-change">
    <input class="invisible" type="text" id="cart" name="cart">
    <input class="invisible" type="text" id="remove" name="remove">
    <div class="container">
      {% for session in todays_sessions %}
      <h2 id="{{ session.id }}-date-header" class="date-header invisible">{{ session.date }}</h2>
      <div class="session row vertical-margin run-{{ session.running }}">
        <div class="col-1 col-sm-1 col-lg-1 align-self-center">{{ session.time | time:"G:i" }}<br>{{ session.activity.duration }}</div>
        <div class="col-5 col-sm-5 col-lg-3 has-bg-img vertical-margin">
          <img class="bg-img my-image" src="../../static/classbooking_app/images/{{ session.activity.image }}">
        </div>
        <div class="col-6 col-sm-3 col-lg-3 align-self-center"><strong>{{ session.activity.name }}</strong>
          <p>{{ session.activity.description }}</p>
        </div>
        <div class="col-5 offset-1 col-sm-3 offset-sm-0 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-users"></i> {{ session.spaces }} spaces</div>
        <div class="col-2 col-sm-5 offset-sm-1 col-lg-2 offset-lg-0 align-self-center"><i class="fa-solid fa-location-dot"></i><span> {{ session.location }}</span></div>
        <div class="col-2 offset-2 col-sm-2 offset-sm-4 col-lg-1 offset-lg-0 align-self-center"> 
          {% if session.spaces > 0 %}
          <input class="add-to-cart run-{{ session.running }}-btn" type="button" id="{{ session.id }}" name="{{ session.id }}" value="Add to Cart">
          {% else %}
          <div> Class Currently Full </div>
          {% endif %}
        </div>
      </div>
        {% endfor %}
    </div>
  <a href="/checkout.html"> <button type="button" id="checkout-button">Checkout</button></a>
</form>

<div class="invisible" id="confirmed-bookings">
  {% for booking in existing_bookings %}
    {% if booking.confirmed == True %}
      <p>{{ booking.session.id }}</p>
    {% endif %}
  {% endfor %}
</div>

<div class="invisible" id="unconfirmed-bookings">
  {% for booking in existing_bookings %}
    {% if booking.confirmed == False %}
      <p>{{ booking.session.id }}</p>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block contentscript %}

<script src="../../static/classbooking_app/js/timetable.js"></script>

{% endblock %}
